@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #080808;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Moves by half the width (since duplicated) */
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite; /* Adjust 20s for speed (slower = higher number) */
  will-change: transform; /* Optimizes performance */
}

/* Optional: Pause on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}